<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmtok.dragon.base.mapper.SysRoleMenuFunctionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gmtok.dragon.base.entity.SysRoleMenuFunction">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_function_id" property="menuFunctionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, role_id AS roleId, menu_function_id AS menuFunctionId
    </sql>

</mapper>
