<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmtok.dragon.base.mapper.SysUserOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gmtok.dragon.base.entity.SysUserOrg">
        <id column="user_id" property="userId" />
        <result column="org_id" property="orgId" />
        <result column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, org_id AS orgId, id AS id
    </sql>

</mapper>
