<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmtok.dragon.base.mapper.SysUserGroupRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gmtok.dragon.base.entity.SysUserGroupRole">
        <result column="user_group_id" property="userGroupId" />
        <result column="role_id" property="roleId" />
        <result column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_group_id AS userGroupId, role_id AS roleId, id AS id
    </sql>

</mapper>
